@font-face {
  src: url(../font/NotoSans-Regular.ttf);
  font-family: Noto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Noto !important;
  background-color: #282828 !important;
  color: #000 !important;
  z-index: 0;
  opacity: .99;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: 10px solid #444444;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #fff, #F5D562);
  border-radius: 4px;
}

header {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c79081), to(#dfa579));
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
          clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
  z-index: 0;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#F5D562), color-stop(#dfa579), color-stop(#c79081), to(#8c451f));
  background: linear-gradient(90deg, #F5D562, #dfa579, #c79081, #8c451f);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 22px;
  border-radius: 30px;
  z-index: 999;
  scroll-behavior: smooth;
  background-size: 400%;
}

.gotopbtn:hover {
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}

.gotopbtn:before {
  content: '';
  position: absolute;
  right: -5px;
  left: -5px;
  top: -5px;
  bottom: -5px;
  background-size: 400%;
  background: -webkit-gradient(linear, left top, right top, from(#F5D562), color-stop(#abad13), color-stop(#cc7716), to(#8c451f));
  background: linear-gradient(90deg, #F5D562, #abad13, #cc7716, #8c451f);
  border-radius: 30px;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.gotopbtn:hover:before {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: 1;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}

i {
  color: white;
}

.logo img {
  position: fixed;
  height: 52px;
  float: left;
  margin: 12px 36px;
}

.logo .tourne {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.logo .tourne:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

nav ul li a:hover {
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.cool-link:hover::after {
  width: 100%;
  -webkit-transition: width 1s;
  transition: width 1s;
}

nav.black ul {
  background: #F5D562;
}

.menu-icon {
  width: 100%;
  background: #F5D562;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 580px) {
  .logo img {
    position: fixed;
    top: 0;
    margin-top: 10px;
  }
  nav {
    z-index: 999;
  }
  nav ul {
    max-height: 0px;
    background-color: #F5D562;
  }
  nav ul li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }
  nav.black ul {
    background: #F5D562;
  }
  .showing {
    max-height: 25em;
    position: absolute;
  }
  .menu-icon {
    display: block;
  }
  .cool-link::after {
    display: none;
  }
}

.description {
  background: url(../img/desc.png);
  width: 100vh;
  width: 100%;
  height: 45vh;
  position: absolute;
  top: 25%;
  -webkit-box-shadow: 10px 10px 10px;
          box-shadow: 10px 10px 10px;
  z-index: 1;
}

.description p {
  font-size: 2em;
  text-align: center;
  letter-spacing: 1px;
  margin: 1em;
}

.img1 img {
  width: 25%;
  height: 30%;
  position: absolute;
  top: 45%;
  left: 20%;
  z-index: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  cursor: pointer;
}

.img1 img:hover {
  -webkit-transform: translatey(220px);
          transform: translatey(220px);
}

.img2 img {
  width: 25%;
  height: 30%;
  position: absolute;
  top: 45%;
  right: 20%;
  z-index: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  cursor: pointer;
}

.img2 img:hover {
  -webkit-transform: translatey(220px);
          transform: translatey(220px);
}

@media (max-width: 960px) {
  footer img {
    width: 130px !important;
    height: 130px !important;
  }
  nav ul li a {
    font-size: 16px;
  }
  .description p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5em;
  }
  .img1 img {
    width: 20%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 0;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .img1 img:hover {
    -webkit-transform: translatey(170px);
            transform: translatey(170px);
  }
  .img2 img {
    width: 20%;
    height: 25%;
    position: absolute;
    top: 50%;
    right: 20%;
    z-index: 0;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .img2 img:hover {
    -webkit-transform: translatey(170px);
            transform: translatey(170px);
  }
}

@media (max-width: 730px) {
  main h1, footer h1 {
    font-size: 2em !important;
  }
  nav ul li a {
    font-size: 10px;
  }
  .img1 img, .img2 img {
    height: 20%;
    top: 55%;
  }
  .img1 img:hover, .img2 img:hover {
    -webkit-transform: translatey(130px);
            transform: translatey(130px);
  }
  input[type=text], select {
    width: 100%;
    font-size: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    font-size: 10px;
    background: #8c451f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  label {
    font-size: 10px;
  }
  option {
    font-size: 10px;
  }
  #Event {
    font-size: 10px;
  }
  .create {
    margin: auto !important;
    margin-top: 10% !important;
  }
  .box {
    display: block !important;
  }
  .slider {
    width: 400px !important;
    margin: auto !important;
    margin-top: 10% !important;
  }
}

@media (max-width: 580px) {
  nav ul li a {
    font-size: 18px;
  }
  .slider {
    width: 350px !important;
  }
  .description p {
    font-size: 1.3em;
  }
  .img1 img, .img2 img {
    height: 20%;
    top: 55%;
  }
  .img1 img:hover, .img2 img:hover {
    -webkit-transform: translatey(130px);
            transform: translatey(130px);
  }
}

@media (max-width: 500px) {
  .img1 img, .img2 img {
    height: 17%;
    top: 57%;
  }
  .img1 img:hover, .img2 img:hover {
    -webkit-transform: translatey(130px);
            transform: translatey(130px);
  }
  footer img {
    width: 90px !important;
    height: 90px !important;
  }
}

main {
  z-index: 1;
  background-size: cover;
}

main h1 {
  text-align: center;
  font-size: 3.5em;
  color: #F5D562;
  margin-top: 3%;
}

main .container {
  margin-top: 10%;
}

main .container h4, main .container p {
  text-align: center;
}

main .show-cart li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .card {
  margin: 20px auto;
}

main .card-img-top {
  width: 200px;
  height: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.create {
  max-width: 500px;
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 5px;
  background: #F5D562;
  padding: 20px;
}

.slider {
  width: 500px;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 11%;
  margin-right: 5%;
}

.slider .slides {
  width: calc(500px * 3);
  -webkit-animation: glisse 10s infinite;
          animation: glisse 10s infinite;
}

.slider .slides .slide {
  float: left;
}

@-webkit-keyframes glisse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  43% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  66% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  76% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes glisse {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  43% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  66% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  76% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background: #8c451f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

input[type=submit]:hover {
  background: #282828;
  color: #F5D562;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  margin-top: 15%;
}

input[type=checkbox] + label:before {
  content: "\f096";
}

/* unchecked icon */
input[type=checkbox] + label:before {
  letter-spacing: 10px;
}

/* space between checkbox and label */
input[type=checkbox]:checked + label:before {
  content: "\f046";
}

/* checked icon */
input[type=checkbox]:checked + label:before {
  letter-spacing: 5px;
}

/* allow space for check mark */
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  -webkit-clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 79%, 0 0);
          clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 79%, 0 0);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c79081), to(#dfa579));
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
  width: 100%;
  height: 100%;
  height: 100vh;
  text-align: center;
}

footer h1 {
  text-align: center;
  font-size: 3.5em;
  color: #F5D562;
  margin-top: 5%;
  padding-top: 5%;
}

footer img {
  overflow: hidden;
  border-radius: 80px;
  width: 180px;
  height: 180px;
  -webkit-box-shadow: 10px 7px 5px black;
          box-shadow: 10px 7px 5px black;
  background-color: white;
  right: 0px;
}

footer .yoda {
  margin-right: 20%;
}

footer .vador {
  margin-left: 20%;
}

footer p {
  font-size: 2em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

footer .middle {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

footer .btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  background: wheat;
  background-size: 400%;
  overflow: hidden;
  position: relative;
}

footer .btn i {
  line-height: 90px;
  font-size: 26px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  color: #000;
}

footer .btn:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

footer .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: -webkit-gradient(linear, left top, right top, from(#F5D562), color-stop(#f441a5), color-stop(#477bc0), to(#8c451f));
  background: linear-gradient(90deg, #F5D562, #f441a5, #477bc0, #8c451f);
  background-size: 400%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

footer .btn:hover::before {
  top: -10%;
  left: -10%;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
/*# sourceMappingURL=landing.css.map */