@font-face{
    src: url(../font/NotoSans-Regular.ttf);
    font-family: Noto;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Noto;
}
header{

    width: 100%;
    height: 100vh;
    background-color: #8c451f;
    background-size: cover;
   
}

.logo{
    
    
    img{
    position: fixed;
    height: 52px;
    float: left;
    margin: 12px 36px;
        
    
    }
    .tourne{
        transition-duration: 1s;
        transition-property: transform;
    }
    .tourne:hover{
        transform: rotate(360deg);
    }
}

    

nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    ul{
        list-style: none;
        background: rgba(0,0,0,0);
        overflow: hidden;
        color: #fff;
        padding: 0;
        text-align: center;
        margin: 0;
        transition: 1s;
        li{
            display: inline-block;
            padding: 20px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}
nav.black{
    ul{
        background: #F5D562;
    }
}
.menu-icon{
    width: 100%;
    background: #F5D562;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;


}

@media(max-width: 580px) {
    .logo{
        img{
        position: fixed;
        top: 0;
        margin-top: 10px;
        }
    }
    nav{
        z-index: 999;
        ul{
            max-height: 0px;
            background-color: #F5D562;
            li{
                box-sizing: border-box;
                width: 100%;
                padding: 24px;
                text-align: center;
            }
        }
    }
    nav.black{
        ul{
            background: #F5D562;
            

        }
    }
    .showing{
        max-height: 25em;
        
        
        position: absolute;
    }
    
    .menu-icon{
        display: block;
        
    }
}

.description{
    background: url(../img/desc.png);
    width: 100vh;
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 25%;
    box-shadow: 10px 10px 10px;
    z-index: 1;
    p{
        font-size: 2em;
        text-align: center;
        letter-spacing: 1px;
        margin: 1em;
    }
    
    

}
.img1{
    img{
        width: 25%;
        height: 30%;
        position: absolute;
        top: 45%;
        left: 20%;
        z-index: 0;
        transition: 1s;
        transition-property: transform;

        
    }
    img:hover{
        transform: translatey(220px);
    }
}
.img2{
    img{
        width: 25%;
        height: 30%;
        position: absolute;
        top: 45%;
        right: 20%;
        z-index: 0;
        transition: 1s;
        transition-property: transform;

        
    }
    img:hover{
        transform: translatey(220px);
    }
}
@media(max-width: 960px) {
    nav{
        ul{
            li{
                a{
                    font-size: 16px;
                }
            }
        }
    }
    .description{
        p{
            font-size: 1.5em;
        }
    }
    .img1{
        img{
            width: 20%;
            height: 25%;
            position: absolute;
            top: 50%;
            left: 20%;
            z-index: 0;
            transition: 1s;
            transition-property: transform;
    
            
        }
        img:hover{
            transform: translatey(170px);
        }
    }
    .img2{
        img{
            width: 20%;
            height: 25%;
            position: absolute;
            top: 50%;
            right: 20%;
            z-index: 0;
            transition: 1s;
            transition-property: transform;
    
            
        }
        img:hover{
            transform: translatey(170px);
        }
    }
}
@media(max-width: 730px) {
    nav{
        ul{
            li{
                a{
                    font-size: 10px;
                }
            }
        }
    }
    .img1, .img2{
        img{
            height: 20%;
            top: 55%;
        }
        img:hover{
            transform: translatey(130px);
        }
    }
}
@media(max-width: 580px) {
    nav{
        ul{
            li{
                a{
                    font-size: 18px;
                }
            }
        }
    }
    .description{
        p{
            font-size: 1.3em;
        }
    }
    .img1, .img2{
        img{
            height: 20%;
            top: 55%;
        }
        img:hover{
            transform: translatey(130px);
        }
    }
}
@media(max-width: 500px) {
    .img1, .img2{
        img{
            height: 17%;
            top: 57%;
        }
        img:hover{
            transform: translatey(130px);
        }
    }
}
main{
    background-color: #282828;
    background-size: cover;
    h1{
        
        text-align: center;
        font-size: 3.5em;
        color: #F5D562;
        
    }
    .container{
        margin-top: 10%;
    }
.show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
 
}